---
import { Image } from "astro:assets";
import type { ProjectsDataSchema } from "@/content/config";
import IconComponent from '@/components/ui/IconComponent.astro';

export interface Props {
  projectData: ProjectsDataSchema['projectsData'][number];
}

const { projectData } = Astro.props;
const { image, name, description, icon } = projectData;
---

<div class="fade-in-x w-full relative">
  <div class="aspect-square">
    <Image 
      src={image}
      alt={name} 
      class="w-full h-auto object-cover object-center"
    />
  </div>
  <div class="px-2 2xl:px-4 w-full absolute bottom-4 left-1/2 -translate-x-1/2 z-10">
    <div class="px-2 py-4 2xl:px-4 flex flex-col gap-1 bg-black/30 backdrop-blur-sm rounded-md">
      <p class="text-xl 2xl:text-2xl font-primary font-medium uppercase tracking-[1px] text-white">
        {name}
      </p>
      <span class="inline-flex items-center gap-2">
        <IconComponent 
          name={icon} 
          className="size-6 text-accent"
        />
        <span class="text-lg 2xl:text-xl text-white">
          {description}
        </span>
      </span>
    </div>
  </div>
</div>