---
import { Image } from "astro:assets";
import { getEntry } from 'astro:content';
import LinkButton from '@/components/ui/LinkButton.astro';

const aboutEntry = await getEntry('about', 'about_data');

if (!aboutEntry) {
  throw new Error("About data not found");
}

const {sectionId, sectionImage, sectionTitle, sectionSubtitle, sectionText, ctaBtn} = aboutEntry.data;
---

<section id={sectionId} class="section-padding bg-white scroll-mt-10">  
  <div class="page-container">
    <div class="fade-in-x flex flex-col lg:flex-row gap-10 lg:gap-16 xl:gap-24">
      <div class="flex-1 flex flex-col lg:items-start justify-center lg:justify-between gap-10 lg:gap-16 xl:gap-24 landscape:max-md:gap-y-8">
        <h2 class="section-title">{sectionTitle}</h2>
        <h3 class="2xl:w-3/4 text-left text-primary">{sectionSubtitle}</h3>
        <div class="flex flex-col gap-y-4 text-left text-slate-600 text-xl md:text-2xl 2xl:text-4xl">
          {sectionText.map(text => <span>{text}</span>)}
        </div>
        {ctaBtn.visible && (
          <LinkButton
            link={ctaBtn} 
            linkStyle="px-4 md:px-6 lg:px-8 py-2 md:py-4 w-2/3 sm:max-w-1/2 lg:max-w-2/3 xl:max-w-3/5 2xl:max-w-2/5 bg-accent"
            labelStyle="text-xl lg:text-2xl 2xl:text-3xl" 
          />
        )}
      </div>
      <div class="flex-1 2xl:max-h-[85svh] aspect-square landscape:max-md:aspect-video lg:flex lg:justify-center relative">
        <div class="hidden lg:flex size-full absolute -top-4 -left-4 2xl:-top-8 2xl:-left-8 -z-10 bg-accent rounded-lg" />
        <Image 
          src={sectionImage} 
          alt="hero" 
          class="size-full object-cover object-center rounded-lg overflow-hidden"
        />
      </div>
    </div>
  </div>
</section>