---
import { Image } from "astro:assets";
import SectionHeader from "@/components/ui/SectionHeader.astro";
import { getEntry } from 'astro:content';
import LinkButton from '@/components/ui/LinkButton.astro';

const aboutEntry = await getEntry('about', 'about_data');

if (!aboutEntry) {
  throw new Error("About data not found");
}

const {sectionId, sectionImage, sectionTitle, sectionSubtitle, sectionText, ctaBtn} = aboutEntry.data;
---

<section id={sectionId} class="section-padding bg-white scroll-mt-10">  
  <div class="page-container">
    <div class="flex flex-col lg:flex-row gap-10 lg:gap-16 2xl:gap-24">
      <div class="lg:flex-1 flex flex-col lg:items-start lg:justify-between gap-10 lg:gap-16 xl:gap-24 landscape:max-md:gap-y-8">
        <SectionHeader
          sectionId={sectionId} 
          sectionTitle={sectionTitle} 
          sectionSubtitle={sectionSubtitle} 
          sectionText={sectionText}
        />
        {ctaBtn.visible && (
          <LinkButton
            link={ctaBtn} 
            linkStyle="w-4/5 sm:max-w-1/2 lg:max-w-4/5 xl:max-w-3/5 2xl:max-w-2/5 bg-accent"
          />
        )}
      </div>
      <div class="fade-in-right lg:flex-1 w-full md:max-h-[60svh] lg:max-h-full 2xl:max-h-[80svh] 
                  aspect-square landscape:max-lg:h-svh 
                  lg:flex lg:justify-center relative">
        <div class="hidden lg:flex size-full absolute -top-4 -left-4 2xl:-top-8 2xl:-left-8 -z-10 bg-accent rounded-lg" />
        <Image 
          src={sectionImage} 
          alt="hero" 
          class="size-full object-cover object-center rounded-md overflow-hidden"
        />
      </div>
    </div>
  </div>
</section>