---
import { getEntry } from 'astro:content';
import ProjectsList from '@/components/projects/ProjectsList.astro';

const projectsEntry = await getEntry('projects', 'projects_data');

if (!projectsEntry) {
  throw new Error("Projects data not found");
}

const {sectionId, sectionTitle, sectionSubtitle, sectionText, ctaText, projectsData} = projectsEntry.data;
---

<section id={sectionId} class="section-padding bg-white scroll-mt-10">  
  <div class="flex flex-col gap-10 lg:gap-16 xl:gap-24">
    <div class="page-container">
      <div class="fade-in-x flex flex-col lg:items-center lg:justify-center gap-10 lg:gap-16 2xl:gap-24">
        <h2 class="section-title">{sectionTitle}</h2>
        <div class="lg:max-w-3/4 xl:max-w-3/5 flex flex-col lg:items-center justify-center 
                    gap-y-6 lg:gap-y-8 xl:gap-y-10 landscape:max-md:gap-y-8">
          <h3 class="lg:text-center text-primary">{sectionSubtitle}</h3>
          <p class="font-primary lg:text-center">
            {sectionText.map(sentence => (
              <span class="text-xl 2xl:text-2xl text-slate-600">
                {sentence}
              </span>
            ))}
          </p>
        </div>
      </div>
    </div>
    <ProjectsList projectsData={projectsData} />
    <div class="page-container flex lg:justify-center">
      <p class="font-primary lg:text-center text-lg md:text-xl 2xl:text-3xl text-slate-600" >
        {ctaText}
      </p> 
    </div>
  </div>
</section>