---
import { getEntry } from 'astro:content';
import ServiceButton from "@/components/services/ServiceButton.astro";
import ServiceDetails from "@/components/services/ServiceDetails.astro";
import LinkButton from '@/components/ui/LinkButton.astro';

const servicesEntry = await getEntry('services', 'services_data');

if (!servicesEntry) {
  throw new Error("Services data not found");
}

const {
  sectionId, 
  sectionTitle, 
  sectionSubtitle, 
  sectionText, 
  ctaText,
  ctaBtn, 
  servicesData
} = servicesEntry.data;
---

<section id={sectionId} class="section-padding bg-slate-50 scroll-mt-10">  
  <div class="page-container">
    <div class="fade-in flex flex-col gap-10 lg:gap-16 xl:gap-24">

      <div class="flex flex-col lg:items-center lg:justify-center gap-10 lg:gap-16 2xl:gap-24">
        <h2 class="section-title">{sectionTitle}</h2>
        <div class="lg:max-w-3/4 xl:max-w-3/5 flex flex-col lg:items-center justify-center gap-y-6 lg:gap-y-8 xl:gap-y-10 landscape:max-md:gap-y-8">
          <h3 class="lg:text-center text-primary">{sectionSubtitle}</h3>
          <p class="font-primary lg:text-center text-xl 2xl:text-3xl text-slate-600">{sectionText}</p>
        </div>
      </div>

      <div 
        data-mode="mobile"
        class="lg:hidden" 
      >
        {servicesData.map(service => (
          <div
            data-id={service.id}
            data-active="false"
            class="group/item flex flex-col gap-4"
          >
            <ServiceButton name={service.name} icon={service.icon} />
            <ServiceDetails {...service} />
          </div>
        ))}
      </div>

      <div
        data-mode="desktop" 
        class="hidden lg:grid grid-cols-[40%_1fr] xl:grid-cols-[30%_1fr] items-stretch gap-10"
      >
        <div class="flex flex-col justify-between">
          {servicesData.map((service, index) => (
            <div 
              data-id={service.id} 
              data-active={index === 0 ? "true" : "false"} 
              class="group/item"
            >
              <ServiceButton name={service.name} icon={service.icon} />
            </div>
          ))}
        </div>
        <div class="lg:p-8 xl:p-12 grid grid-cols-1 grid-rows-1 bg-white shadow-md">
          {servicesData.map((service, index) => (
            <div 
              data-content-id={service.id}
              data-active={index === 0 ? "true" : "false"}
              class="col-start-1 row-start-1 opacity-0 data-[active=true]:opacity-100 
                    transition-opacity duration-500 pointer-events-none"
            >
              <ServiceDetails {...service} />
            </div>
          ))}
        </div>
      </div>

      <div class="flex flex-col gap-8 lg:gap-12 xl:gap-16">
        <p class="font-primary lg:text-center text-lg md:text-xl 2xl:text-3xl text-slate-600">{ctaText}</p>
        {ctaBtn.visible && (
          <div class="lg:mx-auto w-2/3 sm:max-w-1/2 lg:max-w-2/5 xl:max-w-1/4 2xl:max-w-1/5 bg-accent rounded-md">
            <LinkButton
              link={ctaBtn} 
              linkStyle="px-4 md:px-6 lg:px-8 py-2 md:py-4"
              labelStyle="text-xl lg:text-2xl 2xl:text-3xl" 
            />
          </div>
        )}
      </div>
    </div>
  </div>
</section>

<script src="../../../src/scripts/servicesDisplay.ts"></script>