---
import { Image } from 'astro:assets';
import { getEntry } from 'astro:content';

import NavDesktop from '@/components/header/NavDesktop.astro';
import NavMobile from '@/components/header/NavMobile.astro';

const headerEntry = await getEntry('header', 'header_data');

if (!headerEntry) {
  throw new Error("Header data not found");
}

const {logo, links, mobileIcons, ctaBtn } = headerEntry.data;
---
 
<header class="sticky top-0 z-50 bg-primary">
  <div class="size-full relative">
    <div class="page-container py-4">
      <div class="grid grid-cols-[1fr_auto] items-center">
        {logo.visible && (
          <a href={`#${logo.path}`} class="justify-self-start block max-lg:max-w-65 h-[min(4rem,80vh)]">
            <Image 
              src={logo.image}
              alt={logo.name}
              class="h-full w-auto object-contain"
            />
          </a>
        )}
        <NavDesktop
          links={links} 
          className="max-lg:hidden" 
        />
        <NavMobile
          links={links}
          icons={mobileIcons}
          className="lg:hidden"
        />
      </div>
    </div>
  </div>
</header>