---
import { Image } from 'astro:assets';
import IconComponent from '../ui/IconComponent.astro';
import { getEntry } from 'astro:content';

import NavDesktop from '@/components/header/NavDesktop';
import NavMobile from '@/components/header/NavMobile';
import LinkButton from '@/components/ui/LinkButton.astro';

const headerEntry = await getEntry('header', 'header_data');

if (!headerEntry) {
  throw new Error("Header data not found");
}

const {logo, links, mobileIcons, ctaBtn } = headerEntry.data;
---
 
<header class="sticky top-0 z-50 bg-primary">
  <div class="size-full relative">
    <div class="page-container py-4">
      <div class="flex items-center justify-between">
        {logo.visible && (
          <a href={`#${logo.path}`}>
            <Image src={logo.image} alt={logo.name} />
          </a>
        )}
        <NavDesktop
          client:load 
          links={links} 
          className="max-lg:hidden" 
        >
          {ctaBtn.visible && <LinkButton link={ctaBtn} linkStyle="pl-2 pr-1 py-0.5 bg-white" />}
        </NavDesktop>
        <NavMobile
          client:load 
          links={links}
          className="lg:hidden"
        >
          <IconComponent
            slot="open"
            name={mobileIcons.open}
            className="size-10 text-tertiary cursor-pointer"
          />
          <IconComponent
            slot="close"
            name={mobileIcons.close}
            className="size-10 text-tertiary cursor-pointer"
          />
          {ctaBtn.visible && <LinkButton link={ctaBtn} linkStyle="pl-2 pr-1 py-0.5 bg-white" />}
        </NavMobile>
      </div>
    </div>
  </div>
</header>