---
import { Image } from 'astro:assets';
import { getEntry } from 'astro:content';

import NavDesktop from '@/components/header/NavDesktop.astro';
import NavMobile from '@/components/header/NavMobile.astro';

const headerEntry = await getEntry('header', 'header_data');

if (!headerEntry) {
  throw new Error("Header data not found");
}

const {logo, links, mobileIcons, ctaBtn } = headerEntry.data;
---
 
<header class="sticky top-0 z-50 bg-primary">
  <div class="size-full relative">
    <div class="page-container py-4">
      <div class="flex items-center">
        <div class="shrink-0 mr-auto">
          {logo.visible && (
            <a href={`#${logo.path}`} class="flex max-w-full h-[min(3rem,70vw)]">
              <Image 
                src={logo.image}
                alt={logo.name}
                class="size-full object-cover"
              />
            </a>
          )}
        </div>
        <NavDesktop
          links={links} 
          className="max-lg:hidden" 
        />
        <NavMobile
          links={links}
          icons={mobileIcons}
          className="lg:hidden"
        />
      </div>
    </div>
  </div>
</header>