---
import { getEntry } from 'astro:content';
import SectionHeader from '@/components/ui/SectionHeader.astro';
import ProjectsList from '@/components/sections/projects/ProjectsList.astro';
import SectionFooter from '@/components/ui/SectionFooter.astro';

const projectsEntry = await getEntry('projects', 'projects_data');

if (!projectsEntry) {
  throw new Error("Projects data not found");
}

const {
  sectionId,
  sectionTitle,
  sectionSubtitle,
  sectionText,
  ctaText,
  ctaBtn,
  projectsData
} = projectsEntry.data;
---

<section
  id={sectionId}
  class="section-padding bg-white scroll-mt-10"
>  
  <div class="flex flex-col gap-10 lg:gap-16 xl:gap-24">
    <div class="page-container">
      <SectionHeader
        sectionId={sectionId} 
        sectionTitle={sectionTitle} 
        sectionSubtitle={sectionSubtitle} 
        sectionText={sectionText}
      />
    </div>
    <ProjectsList projectsData={projectsData} />
    {(ctaText.visible || ctaBtn.visible) && (
      <SectionFooter
        sectionId={sectionId}
        ctaText={ctaText}
        ctaBtn={ctaBtn}
      />
    )}
  </div>
</section>