---
import { Image } from "astro:assets";
import type { ProjectsDataSchema } from "@/content/config";
import IconComponent from '@/components/ui/IconComponent.astro';

export interface Props {
  projectData: ProjectsDataSchema['projectsData'][number];
}

const { image, name, description, icon } = Astro.props.projectData;
---

<div class="fade-in-right w-full grid items-end justify-items-center">
  <div class="size-full row-start-1 col-start-1 aspect-square landscape:max-md:aspect-video landscape:max-md:h-svh">
    <Image 
      src={image}
      alt={name} 
      class="size-full object-cover object-center"
    />
  </div>
  <div class="p-2 w-full row-start-1 col-start-1">
    <div class="px-3 py-4 2xl:px-4 flex flex-col gap-1 bg-black/30 backdrop-blur-sm rounded-md">
      <p class="text-xl 2xl:text-2xl font-primary font-medium uppercase tracking-[1px] text-white">
        {name}
      </p>
      <span class="inline-flex items-center gap-2">
        <IconComponent 
          name={icon} 
          className="size-6 text-accent"
        />
        <span class="text-lg 2xl:text-xl text-white">
          {description}
        </span>
      </span>
    </div>
  </div>
</div>