---
import type { ContactsType } from "@/content/config";
import IconComponent from "@/components/ui/IconComponent.astro";

interface Props {
  contacts: ContactsType
};

const { contacts } = Astro.props;
---

<div class="flex flex-col sm:flex-row gap-3">
  {contacts.map(elem => {
    if (!elem.visible) return null;

    return (
      <a 
        href={elem.url}
        target="_blank" 
        rel="noopener noreferrer" 
        aria-label={elem.name}
        title={elem.name} 
        class="flex items-center gap-2"
      >
        <IconComponent name={elem.icon} className="p-1 w-7 h-7 bg-primary text-tertiary rounded-md" />
        <span class="text-lg font-medium text-primary">
          {elem.text}
        </span>
      </a>
    );
  })}
</div>