---
import type { ContactsType } from "@/content/config";
import IconComponent from "@/components/ui/IconComponent.astro";

interface Props {
  links: ContactsType;
  wrapperStyle?: string;
  linkStyle?: string;
};

const { links, wrapperStyle, linkStyle } = Astro.props;
---

<div class={wrapperStyle}>
  {links.map(link => {
    if (!link.visible) return null;

    return (
      <a 
        href={link.url}
        target="_blank" 
        rel="noopener noreferrer" 
        aria-label={link.name}
        title={link.name} 
        class={`flex items-center ${linkStyle}`}
      >
        <IconComponent name={link.icon} className="p-1 w-7 h-7 bg-primary text-tertiary rounded-md" />
        <span class="text-lg font-medium text-primary">
          {link.text}
        </span>
      </a>
    );
  })}
</div>