---
interface Props {
  sectionId: string;
  sectionTitle: string;
  sectionSubtitle: string;
  sectionText: string[]
}

const { sectionId, sectionTitle, sectionSubtitle, sectionText } = Astro.props;

const stylesConfig = {
  about: {
    headerStyle: 'lg:items-start justify-center lg:justify-between',
    headerContentStyle: '2xl:gap-y-24',
    sectionSubtitleStyle: '2xl:w-3/4 text-left',
    sectionTextStyle: 'flex flex-col gap-y-4 text-left',
  },
  services: {
    headerStyle: 'lg:items-center lg:justify-center',
    headerContentStyle: 'lg:max-w-4/5 xl:max-w-3/5 lg:items-center justify-center lg:justify-between',
    sectionSubtitleStyle: 'lg:max-w-3/4 xl:max-w-full lg:text-center',
    sectionTextStyle: '2xl:w-3/4 lg:text-center',
  },
  projects: {
    headerStyle: 'lg:items-center lg:justify-center',
    headerContentStyle: 'lg:max-w-4/5 xl:max-w-3/5 lg:items-center justify-center',
    sectionSubtitleStyle: 'lg:text-center',
    sectionTextStyle: 'lg:text-center',
  },
  reviews: {
    headerContentStyle: '2xl:gap-y-16',
    sectionSubtitleStyle: '2xl:w-3/4',
    sectionTextStyle: '2xl:w-3/4',
  },
  contacts: {
    sectionTextStyle: 'flex flex-col gap-y-1 text-left',
  },
}[sectionId];
---

<header class={`fade-in-left flex flex-col gap-10 lg:gap-16 2xl:gap-24 ${stylesConfig?.headerStyle}`}>
  <h2 class="section-title">
    {sectionTitle}
  </h2>
  <div class={`fade-in-left flex flex-col gap-y-6 lg:gap-y-8 xl:gap-y-10 landscape:max-md:gap-y-8 ${stylesConfig?.headerContentStyle}`}>
    <h3 class={`text-primary ${stylesConfig?.sectionSubtitleStyle}`}>
      {sectionSubtitle}
    </h3>
    <p class={`font-primary ${stylesConfig?.sectionTextStyle}`}>
      {sectionText.map(sentence => (
        <span class="text-xl xl:text-2xl 2xl:text-4xl text-slate-600">
          {sentence}
        </span>
      ))}
    </p>
  </div>
</header>